@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient(
  135deg,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue1: hsl(233, 11%, 84%);
$dark-grayish-blue1: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue1: hsl(233, 14%, 35%);
$very-dark-grayish-blue: hsl(237, 14%, 26%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

@mixin dFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin textTemplate($fontSize, $fontWeight, $color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

body {
  height: 100dvh;
  background: url(../assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  @include dFlex(unset, center, unset);
}

main {
  width: 540px;
  margin-top: 5rem;
}

.selected {
  display: block !important;
}

.header {
  @include dFlex(unset, space-between, unset);
  margin-bottom: 2rem;
  &-title {
    @include textTemplate(2.2rem, 700, white);
    letter-spacing: 1rem;
  }
  &-switcher {
    width: 2rem;
    opacity: 0.5;
  }
  &-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    transform: translateX(calc(540px - 2rem));
  }
}

.todo__input {
  @include dFlex(unset, unset, center);
  background-color: white;
  padding: 0.7rem;
  box-shadow: 0 0px 8px $light-grayish-blue1;
  border-radius: 0.3rem;
  &-input {
    @include textTemplate(1.2rem, 400, unset);
    border: none;
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
    width: 85%;
    vertical-align: middle;
    &:focus {
      outline: none;
    }
  }
  &-icon {
    display: none;
    position: absolute;
    cursor: pointer;
    transform: translateX(40%) translateY(65%);
  }
}

.icon {
  display: none;
  position: absolute;
  cursor: pointer;
  transform: translateX(40%) translateY(65%);
}

.checkbox-div {
  background: $check-background;
  border-radius: 50%;
  margin: 0 1rem;
}

.checkbox-round {
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid $dark-grayish-blue1;
  border-radius: 50%;
  appearance: none;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  &:checked {
    background: url(../assets/icon-check.svg), $check-background;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &:hover {
    &:checked {
      background: url(../assets/icon-check.svg), $check-background;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: 1px solid $dark-grayish-blue1;
    }
    border: none;
    background: radial-gradient(white 0 60%, transparent 60% 100%);
  }
}

.todo__list {
  @include textTemplate(1.2rem, unset, $very-dark-blue);
  list-style-type: none;
  box-shadow: 0 5px 50px $light-grayish-blue1;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  &-item {
    @include dFlex(unset, unset, center);
    padding: 1.2rem 0 1.2rem 0.7rem;
    color: $very-dark-desaturated-blue;
    border-bottom: 1px solid $light-grayish-blue1;
    cursor: move;
    &-icon {
      cursor: pointer;
      margin-left: auto;
      margin-right: 1.5rem;
    }
  }
  &-bottom {
    @include dFlex(unset, space-between, center);
    @include textTemplate(1rem, 400, $dark-grayish-blue);
    padding: 1rem;
    &-clear {
      cursor: pointer;
    }
  }
}

.checked {
  text-decoration: line-through;
  color: $dark-grayish-blue;
}

.filter {
  margin: 0 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.active {
  color: $bright-blue;
}
